* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  line-height: 1.6;
  display: flex;
  align-items: center;
  /*Pour centre le contenue de la page */
  justify-content: center;
  /*pour le mettre au milieu de la page */
  min-height: 100vh;
  background-color: rgb(165, 165, 82);
}

/*Le chronometre en lui meme */
.chronometre {
  background-color: beige;
  padding: 10px;
  border-radius: 6px;
  width: 400px;
  text-align: center;
}
/*specifions un peu plus le style avec le Time  */
.time {
  border-radius: 6px;
  width: 100%;
  text-align: center;
  margin: auto;
  padding: 5px 0;
  font-size: 25px;
  font-weight: 400;
  margin-bottom: 10px;
  border: 1px #6b7280;
}
.time span {
  padding: 5px;
}
.control {
  display: flex;
  width: 100%;
  justify-content: space-around;
  transition: 0.5s;
}
button {
  background-color: rgb(165, 165, 82);
  color: white;
  font-size: 15px;
  width: 35%;
  border: 0;
  border-radius: 5px;
  transition: 0.5s;
  letter-spacing: 1px;
  cursor: pointer;
  padding: 3px;
}
button:hover {
  transform: scale(1);
}
